* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: Arial, sans-serif;
  color: black;
}

#root {
  padding: 30px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
